apptainer_virtualizacion.aux
apptainer_virtualizacion.log
apptainer_virtualizacion.out
apptainer_virtualizacion.snm
apptainer_virtualizacion.bbl
apptainer_virtualizacion.blg
apptainer_virtualizacion.nav
apptainer_virtualizacion.synctex.gz
apptainer_virtualizacion.toc